/*

This file should be used for any styles that exist within the App,
but do not exist in their appropriate component style file.

Somewhat of a middle-ground between global and specific styles.

*/

:root{
	--swin-red: #da3838;
}


.heading-box{
	padding: 0, 5%;
	display: flex;
	align-items: flex-start;
	}

.red-bullet::before {
	content: '•';
	color: var(--swin-red);
	margin-right: 1rem;
	font-size: 3rem;
}