/*
This file should be used for global styles only.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #111;
    --white-color: white;
    --red-color: #DA3838;
    --grey-color: var(--dark-grey-color);
    --dark-grey-color: #222;
    --headline-size: 4em;
    --title-size: 5.75em;
    --small-size: 1.25em;
    --medium-size: 2em;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    color: var(--white-color);
    background: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    color: var(--white-color);
    background: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

@media (pointer:none),
(pointer:coarse) {
    .dot-lattice {
        display: none;
    }
}

@media screen and (max-width:900px) {
    :root {
        --headline-size: 2.4em;
        --title-size: 2.75em;
        --small-size: 1em;
        --medium-size: 1.5em;
    }
}

h1 {
    font-weight: 400;
    font-size: var(--headline-size);
    line-height: 1;
}

.headline h1 {
    width: 75%;
}

.hero h1 {
    font-weight: 400;
    font-size: var(--title-size);
    line-height: 1;
}

.dot {
    width: 0.75rem;
    height: 0.75rem;
    margin-top: 3vh;
    margin-right: 2vw;
    border-radius: 100%;
    background-color: var(--red-color);
    transition: transform 0.3s cubic-bezier(.72, .01, .32, 1.01);
}

@media screen and (max-width:900px) {
    .dot-lattice-grid-container {
        display: none;
    }
}