/*
This file should be used for global styles only.
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

:root {
	font-family: "Inter", sans-serif;
	line-height: 1.2;
	font-weight: 200;
	letter-spacing: 0.005em;

	color: rgba(255, 255, 255, 1);
	background-color: #111111;

	--swin-red: #da3838;
}

/* ********** Font Variations ********** */
.inter-paragraph {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-size: 2em;
}
.inter-links {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-size: 1.2em;
}
.inter-h2 {
	font-family: "Inter", sans-serif;
	font-size: 3.5em;
	font-weight: 200;
	line-height: 1.1;
	text-align: left;
}


a {
	text-decoration: none;
	line-height: 1.8em;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 1.5rem;
	font-weight: 200;
	line-height: 1.1;
	text-align: left;
}

h2 {
	font-size: 3.5em;
	font-weight: 200;
	line-height: 1.1;
	text-align: left;
}

h3 {
	font-weight: 350;
	font-size: 1.8rem;
}

p {
	margin-bottom: 0.5em;
	font-size: 1.5rem;
}