.interactives .slideshow, .video {
    width:40vw;
    height:45vh;
    background: var(--dark-grey-color);
    border-radius:1.5vw;
    position:relative;
    overflow:hidden;
}

.slideshow .controls {
    position: absolute;
    bottom: 1.5vh;
    left:0;
    width:100%;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
}

.slideshow .indicator {
    display:flex;
    gap:1vw;
    position:absolute;
    top:2vh;
    left:1vw;
    z-index:3;
}
.slideshow .indicator-dot {
    width:1vw;
    height:1vw;
    background:white;
    border-radius:100%;
    transition: background 0.3s ease;
}

.slideshow .red-indicator {
    background:var(--red-color);
    transition: background 0.3s ease;
}

.slideshow .activated {
    background:var(--red-color);
    transition: background 0.3s ease;
}

.slideshow .image-container {
    width:300%;
    height:100%;
    display:flex;
}

.slideshow .image {
    width:calc(300% / 3);
    height:100%;
    transition:transform 1s cubic-bezier(.2,.69,.39,1), background-position 1s cubic-bezier(.2,.69,.39,1);
}

.image-container .image:nth-child(1) {
    background:url('assets/slideshow-img-1.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.image-container .image:nth-child(2) {
    background:url('assets/slideshow-img-2.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.image-container .image:nth-child(3) {
    background:url('assets/slideshow-img-3.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.slideshow .controls a.round-button:hover {
    cursor: pointer;
}

.slideshow {
    width: 100%;
    height: 45vh;
    background: var(--dark-grey-color);
    border-radius: 1.5vw;
    position: relative;
    overflow: hidden;
}
