/* wrap components on a flex-row */
.grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px;
  filter: brightness(100%);
}

.container:hover{
  filter: brightness(110%);
}

/* flex element for the grid */ 
.container {;
  flex: 1;
}

/* for the image in a grid */
.container img {
  height: 1000px;
  object-fit: cover;
  border-radius: 20px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
}

/* for the text in a grid */
.span_text_and_button {
  padding: 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25em; /* Optional: Add some space above the row */
}

/* for the alignment of text and button */
.text_wrapper {
  text-align: left !important;
  padding: 0px 10px 0px;
}

/* buton design */
button {
  font-size: 1.25em !important;;
  font-weight: bold !important;;
  background:rgb(248, 237, 217);
  border:none;
  color: rgb(44, 29, 29);
  padding: 15px 20px;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0, 0, 0, 0.2),
    1px 1px 0 0 #ff0000,
    2px 2px 0 0 #ff0000,
    3px 3px 0 0 #ff0000,
    4px 4px 0 0 #ff0000,
    5px 5px 0 0 #ff0000,
    6px 6px 0 0 #ff0000,
    7px 7px 0 0 #ff0000,
    8px 8px 0 0 #ff0000,
    9px 9px 0 0 #ff0000;
}

button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #ff0000,
    2px 2px 0 0 #ff0000,
    3px 3px 0 0 #ff0000,
    4px 4px 0 0 #ff0000,
    5px 5px 0 0 #ff0000;
}

.grid:hover{
  brightness: 100%;
}