/* ********** Home Page Styles ********** */

.title {
    font-size: var(--title-size);
    width: 90%;
    margin-bottom: 4vh;
}
.headline {
    font-size: var(--headline-size);
}
.medium-text {
    font-size: var(--medium-size);
}
.small-text {
    font-size: var(--small-size);
}
.chunk {
    padding: 1.5vh 5vw 4vh;
    border-top: 1px solid #303030;
}
.chunk-no-border {
    padding: 1.5vh 5vw 4vh;
}

.top-element {
    margin-top: 10vh;
}
.width-100 {
    width: 100%;
}
.relative {
    position: relative;
    height: 45vh;
}
.centre-content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.social-links-box {
    height: 40vh;
    width: 100%;
}
.social-links-box-inner {
    width: 100%;
    border: 1px solid #303030;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links-box-inner.first {
    border-radius: 3em 0 0 3em;
}
.social-links-box-inner.last {
    border-radius: 0 3em 3em 0;
}

@media (max-width: 899px) {
    .social-links-box-inner {
        padding: 3vh 12vw;
    }
    .social-links-box-inner.first {
        border-radius: 3em 3em 0 0;
    }
    .social-links-box-inner.last {
        border-radius: 0 0 3em 3em;
    }
    .spacing-box {
        display: none;
    }
}