/* ********** Home Page Styles ********** */

.title {
    font-size: var(--title-size);
    width: 95%;
    line-height:1;
    font-weight:400;
}
.headline {
    font-size: var(--headline-size);
}
.medium-text {
    font-size: var(--medium-size);
}
.small-text {
    font-size: var(--small-size);
}

.top-element {
    margin-top:17.5vh;
    align-items: flex-end;
    padding: 3vh 2.5vw !important;
}

iframe {
    width:100%;
    height:45vh;
    object-fit: cover;
    border-radius:1vw;
    opacity:0.9;
}

.chunk {
    padding: 7.5vh 2.5vw;
    border-bottom:2px solid var(--grey-color);
    border-top:none;
}

.chunk-no-border {
    padding: 7.5vh 2.5vw;
}

.width-100 {
    width: 100%;
}
.relative {
    position: relative;
    height: max-content;
}
.centre-content {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.social-links-box {
    height: 40vh;
    width: 100%;
}
.social-links-box-inner {
    width: 100%;
    border: 2px solid var(--grey-color);
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links-box-inner.first {
    border-radius: 2vw 0 0 2vw;
}
.social-links-box-inner.last {
    border-radius: 0 2vw 2vw 0;
}

@media (max-width: 900px) {
    .social-links-box-inner {
        padding: 3vh 12vw;
    }
    .social-links-box-inner.first {
        border-radius: 3em 3em 0 0;
    }
    .social-links-box-inner.last {
        border-radius: 0 0 3em 3em;
    }
    .spacing-box {
        display: none;
    }
    video, .slideshow {
        border-radius: 3vw;
        height:25vh
    }

    .chunk, .chunk-no-border {
        padding:5vh 2.5vw;
    }

    .top-element {
        margin-top:12.5vh;
        padding: 3vh 2.5vw;
    }

    .slideshow .indicator-dot {
        width:3vw;
        height:3vw;
    }

    footer {
        padding-top:5vh;
    }

    .red-bullet-text {
        width:80%;
    }
}